@model MyFitnessLife.Models.UserFeedback

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<head>
    <style>
        .control-label {
            font-size:30px;
        }
        .form-control{
            width:400px;
            font-size:20px;
            height:60px;
        }
    </style>
</head>

<h1>Create</h1>

<h4>Feedback</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                <strong>Success:</strong> @TempData["SuccessMessage"]
            </div>
        }

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                <strong>Error:</strong>
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <p>@error.ErrorMessage</p>
                }
            </div>
        }

        <form asp-action="Create">
            <div class="form-group">
                <label  class="control-label"></label>
                <input class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Feedbacktext" class="control-label"></label>
                <textarea asp-for="Feedbacktext" class="form-control"></textarea>
                <span asp-validation-for="Feedbacktext" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit Feedback" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="MemberIndex" asp-controller="Home">Back to Home</a>
</div>

